body {
  background-color: #59adc2;
  padding-left: 10em;
  padding-right: 10em;
  margin-left: 200px;
  margin-right: 200px;
}

h1,
h2,
h3 {
  clear: both;
  margin-top: 3em;
  background: rgb(224, 224, 224);
  width: 13%;
  text-align: center;
  color: rgb(2, 13, 112);

}

h1 a {
  color: #6100bb;
}

nav ul {
  margin: 2ex auto;
  margin-left: 80px;
  display: flex;
  font-weight: bold;
  flex-wrap: wrap;
}

nav ul li {
  display: block;
  margin-top: 1ex;
  text-align: center;
}

nav ul li a {
  display: block;
  color: rgb(2, 13, 112);
  background: rgb(224, 224, 224);
  border-radius: 25px 50px 0px;
  padding: 1ex 2ex;
}

nav img {
  float: left;
}

.login {
  display: inline-block;
  width: 30%;
  border: orange solid 2px;
  padding: 1ex;
}

.message {
  border: #bb8800 solid 2px;
  font-size: 200%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 1ex;
  text-align: center;
  border-radius: 10px;
}

.success {
  border-color: rgb(6, 255, 6);
  background: #ffffff;
}
.error {
  border-color: red;
  background: #fffefe;
}

#identifier {
  width: 50%;
}

