<!doctype html>
<html lang="cs">   
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <title>{%block title%}Automobilový shop{%endblock%}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='auto_prodejna.jpg') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" >

    </head>
<body id="main">

        <nav>
          <p>
            <img src="{{ url_for('static', filename='auto_prodejna.jpg') }}" />
          </p>
          
          <p>
            {% if 'user' in session %}
            Uživatel: {{ session['user'] }}. 
            <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
            Admin není přihlášen.
            {% endif %}
           <h1>Naše auta</h1> 
            </p>
            <ul>
            <li><a href="{{ url_for('bmw') }}">BMW</a></li>
            <li><a href="{{ url_for('ferrari') }}">Ferrari</a></li>
            <li><a href="{{ url_for('mercedes') }}">Mercedes</a></li>
            <li><a href="{{ url_for('skoda') }}">Škoda</a></li>
            <li><a href="{{ url_for('data') }}">Data</a></li>
            <li><a href="{{ url_for('vzkazy') }}">Vzkazy</a></li>
            
            </ul>
        </nav>
        {% for  category, message in get_flashed_messages(with_categories=True) %}
      <p class="message {{ category }}">{{ message }}</p>
      {% endfor %}

      {% block obsah %}
      
    <h2></h2>
    <img src="{{ url_for('static', filename = 'autobazar_reklama.webp') }}" alt="">

      {% endblock obsah %}

</body>
</html>    

