{% extends 'base.html' %}

{%block title%}BMW{%endblock title%}

{% block obsah %}

<h1>BMW</h1>
<img src="{{ url_for('static', filename='bmw.png')}}" alt="">

<h1>Info</h1>
<p>Metalický lak Misano Blue (P0C1D)</p>

<p>18" M kola z lehké slitiny V-spoke 554 M (S01Y2)</p>

<p>Najeto
95 000 km</p>

<p>Do provozu
25. 06. 2024</p>

<p>Objem motoru
2 498 ccm3 / 110 kW</p>

<p>První majitel
Ano</p>

<p>Typ paliva
Diesel</p>

<p>Převodovka
Auto</p>

<p>Stav vozu
Velmi dobrý</p>

<p>Původ
Německo</p>

<h1>Datum výroby</h1>
<p>27.02.2021</p>

<h1>Cena</h1>
1 099 000 Kč

<h1>Zde klikněte k vrácení na domovskou stránku <a href="{{ url_for('root') }}">ZPĚT</a></h1>


{% endblock obsah %}
