{% extends 'base.html' %}

{%block title%}vzkazy{%endblock title%}

{% block obsah %}


<h1>Editace vzkazu</h1>

<form method="post">
  <textarea name="vzkaz" rows="7" cols="80"></textarea>
  <p>
    <button type="reset">Vymazat</button>
    <button type="submit">Uložit</button>
  </p>
</form>





{% endblock obsah %}
