{% extends 'base.html' %}

{%block title%}Ferrari{%endblock title%}

{% block obsah %}

<h1>Ferrari</h1>

<img src="{{ url_for('static', filename='ferrari.png')}}" alt="">

<h1>INFO</h1>

<p>Najeto
18 000 km</p>

<p>Do provozu
25. 08. 2024</p>

<p>Objem motoru
2 018 ccm3 / 110 kW</p>

<p>První majitel
Ano</p>

<p>Typ paliva
Benzín</p>

<p>Převodovka
Manuální</p>

<p>Stav vozu
Výborný</p>

<p>Původ
Italy</p>

<h1>Datum výroby</h1>
<p>07.09.2022</p>

<h1>Cena</h1>
4 478 000,-

    <h1>Zde klikněte k vrácení na domovskou stránku <a href="{{ url_for('root') }}">ZPĚT</a></h1>

{% endblock obsah %}
