{% extends 'base.html' %}

{%block title%}Login{%endblock title%}

{%block obsah %}

<h1>Login</h1>

<form method="post">

<table>
    <tr>
        <td>jmeno:</td>
        <td><input type="text" name="jmeno"></td>
    </tr>
    <tr>
        <td>heslo:</td>
        <td><input type="password" name="heslo"></td>
    </tr>
    <tr>
        <td></td>
        <td><button>Přihlásit</button></td>
    </tr>
</table>


</form>

{% endblock obsah %}