{% extends 'base.html' %}

{%block title%}Mercedes{%endblock title%}

{% block obsah %}

<h1>Mercedes</h1>

<img src="{{ url_for('static', filename='mercedes.png')}}" alt="">

<h1>INFO</h1>

<p>Najeto
45 000 km</p>

<p>Do provozu
16. 11. 2023</p>

<p>Objem motoru
1 895 ccm3 / 110 kW</p>

<p>První majitel
Ano</p>

<p>Typ paliva
Diesel</p>

<p>Převodovka
Auto</p>

<p>Stav vozu
Velmi dobrý</p>

<p>Původ
Německo</p>

<h1>Datum výroby</h1>
<p>19.09.2021</p>

<h1>Cena</h1>
984 000,-

<h1>Zde klikněte k vrácení na domovskou stránku <a href="{{ url_for('root') }}">ZPĚT</a></h1>

{% endblock obsah %}
