{% extends 'base.html' %}

{%block title%}ŠKODA{%endblock title%}

{% block obsah %}

<h1>Škodovka</h1>

<img src="{{ url_for('static', filename='modre_auto.png')}}" alt="">

<h1>INFO</h1>

<p>Najeto
15 000 km</p>

<p>Do provozu
17. 05. 2023</p>

<p>Objem motoru
1 498 ccm3 / 110 kW</p>

<p>První majitel
Ano</p>

<p>Typ paliva
Benzín</p>

<p>Převodovka
Manuální</p>

<p>Stav vozu
Velmi dobrý</p>

<p>Původ
Česká republika</p>

<h1>Datum výroby</h1>
<p>15.08.2022</p>

<h1>Cena</h1>
478 000,-

<h1>Zde klikněte k vrácení na domovskou stránku <a href="{{ url_for('root') }}">ZPĚT</a></h1>


{% endblock obsah %}
