{% extends 'base.html' %}

{%block title%}vzkazy{%endblock title%}

{% block obsah %}

<h1>Vzkazy</h1>

<h2>Vložit vzkaz</h2>

<form method="post">
  <textarea name="vzkaz" rows="7" cols="80"></textarea>
  <p>
    <button type="reset">Vymazat</button>
    <button type="submit">Odeslat</button>
  </p>
</form>

<h2>Nástěnka</h2>

{% for login, body, datetime, id in response %}
  <div class="zprava">
    <p class="hlavicka"><strong>{{login}}</strong> -- 
      {{d.fromisoformat(datetime).strftime('%d.%_m.%Y %H:%M')}}
    </p>
    {% if session['user'] == login %}
      <form action="{{url_for('vymaz_vzkaz')}}" method="post">
       <input type="hidden" name="id" value="{{id}}">
       <button type="submit">Vymazat</button>
      </form>

       <form action="{{url_for('editovat', id=id )}}" method="get">
       <button type="submit">Editovat</button>
      </form>
   
    {% endif %}
    <pre class="telo">{{body}}</pre>
  </div>
{% endfor %}


{% endblock obsah %}
